<form action="http://www.philiphilding.com/signin" method="POST" class="form">
    <h1 class="form-header">Login</h1>
    <div class="input-box">
        <input placeholder="Name" name="uname" class="input">
        <input placeholder="Password" name="pwd" type="password" class="input">
    </div>
    <input type="submit" value="login" class="submit-btn">
</form>